################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WeatherWebApplication/bin/Debug
/WeatherWebApplication/obj
/WeatherWebApplication.sln.DotSettings.user


